:root {
    --color-background: #f0f0f0;
    --color-primary: #0363c9;
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: 100vh;
}

.middle-column-container {
    height: 33.33vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-item {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

.row {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
}

.big-score {
    font-size: 2em;
    padding: 20px;
    background-color: #ccc;
}

.score-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.scorerow {
    padding: 10px;
    background-color: #eee;
    text-align: center;
}

.score-big-score {
    font-size: 2em;
    background-color: #ccc;
}